div.card {
	background-color: red;
	height: 25vw;
	width: 18vw;
	display: inline-block;
	text-align: center;
	margin: 1vw;
	padding: 0px;
}

div.card[status="front"] {
	background-color: blue;
}

button {
	font-size: 3vw;
	border-radius: 1vw;
	position: fixed;
	bottom: 2vw;
}

img.cardpic {
	height: 23vw;
	width: 16vw;
	margin: 1vw;
	pointer-events: none;
	background: white;
	font-size: 40px;
}

@media (min-width: 1000px) {
	div.board {
		width: 1000px;
	}

	div.card {
	height: 250px;
	width: 180px;
	font-size: 30px;
	margin: 10px;
	padding: 0px;
	}

	button {
		font-size: 30px;
		border-radius: 10px;
		bottom: 20px;
	}

	img.cardpic {
		height: 230px;
		width: 160px;
		margin: 10px;
		font-size: 200px;
	}
}